html {
    font-family: verdana;
}

h1 {
    text-align: center;
}

h3 {
    color: blue;
    font-size: 12px!important;

    text-align: center;
    display: block;
    width: 250px;
    height: 20px;
    margin-bottom: 5px;
    overflow: hidden;
    font: normal 20px/20px Courier;
    text-decoration: none!important;
}

h3:hover {
    color: red;
}

.youtubeApi {
    font-style: italic;
    font-weight: bold;
}

.videotable {
    display: inline-grid;
}

.imagelink,
.link {
    display: block;
}


/* .results{
    display: inline-grid;
} */

img.video {
    max-width: 100%;
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .5s ease-in-out;
}

.video:hover {
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.1);
}

.results {
    text-align: center;
}

.moreResultsDiv {
    display: flex;
    justify-content: center;
}

.resButton {
    margin: 20px;
    border: 1px solid black;
    background-color: #bfe7a3;
    text-transform: uppercase;
    border-radius: 20px;
    font-size: 15px;
}

.searchBtn {
    background-color: #e3124b;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    border-radius: 20px;
}

/*Media Query*/
@media only screen and (max-width:770px) {
    .searchvideo {
        text-align: center;
    }
}